.playerWrapper {
	float: left;
	width: 50%;
}

.p1bg {
	background-color: #e6cccc;
}

.p2bg {
	background-color: #ccccFf;
}

.label {
	width: 95%;
	margin: 0 auto;
	padding: 2px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.item {
	width: 95%;
	margin: 0 auto;
	padding: 2px;
	text-align: center;
	height: 70px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.button {
	float: left;
	width: 30%;
	height: 60px;
	cursor: pointer;
	line-height: 60px;
	vertical-align: middle;
	background-color: #999999;
	
	
	/*box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid #000000;*/
}

.number {
	float: left;
	width: 40%;
	height: 60px;
	line-height: 60px;
	vertical-align: middle;
}