.playerWrapper {
	float: left;
	width: 50%;
}

.p1bg {
	background-color: #e6cccc;
}

.p2bg {
	background-color: #ccccFf;
}

.label {
	padding: 2px;
	text-align: center;
}

.button {
	float: left;
	width: 10%;
	max-height: 80px;
	min-height: 40PX;
	cursor: pointer;
	
	border: 1px solid #FF5555;
}

.number {
	float: left;
	width: 75%;
}